<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sit.manage.mapper.SysBlogMapper">

    <resultMap id="BaseResultMap" type="com.sit.manage.entity.SysBlog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="user" column="user" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="tUrl" column="t_url" jdbcType="VARCHAR"/>
            <result property="isRecommend" column="is_recommend" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,content,
        user,time,uid,
        description,cid,t_url,
        is_recommend
    </sql>
    <insert id="addStar" parameterType="com.sit.manage.entity.BlogStar">
        insert into blog_star(blogId,userId,groupId) values (#{blogId},#{userId},#{groupId})
    </insert>
    <delete id="deleteStar">
        delete from blog_star where blogId = #{blogId} and userId = #{userId}
    </delete>
    <select id="getCategoryByBlogId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select name from sys_category where id in (select categoryId from blog_category where blogId = #{blogId})
    </select>
    <select id="getById" parameterType="java.lang.Integer" resultType="com.sit.manage.entity.StarGroup">
        select * from star_group where id = #{groupId}
    </select>
    <select id="getBlogById" parameterType="java.lang.Integer" resultType="com.sit.manage.entity.SysBlog">
        select * from sys_blog where id = #{blogId}
    </select>
    <select id="getBlogStar" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from blog_star where blogId = #{bId}
    </select>
    <select id="getIsStar" resultType="java.lang.Integer">
        select count(1) from blog_star where blogId = #{blogId} and userId = #{userId}
    </select>

</mapper>
